.features__list {
  list-style: none;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  flex-wrap: wrap;
  padding-right: 40px;
}

.features__item {

  @media (min-width: @tablet-width) {
    background-color: @darkgrey;
    width: 324px;

  }

  @media (min-width: @desktop-width) {
    background-color: @white;
    width: 400px;
  }
}

.features__item:first-child {
  @media (min-width: @tablet-width) {
    width: 648px;

  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.features__img:first-child {
  object-fit: cover;

  @media (min-width: @tablet-width) {
    width: 648px;
    height: 400px;

  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.features__img {

  @media (min-width: @tablet-width) {
    width: 324px;
    height: 267px;

  }

  @media (min-width: @desktop-width) {
    width: 400px;
    height: 267px;
  }
}

.features__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  align-items: left;

  @media (min-width: @desktop-width) {
    color: @white;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    margin-top: -94px;
  }
}

.features__wrapper-first {
  @media (min-width: @desktop-width) {
    max-width: 1120px;
  }
}

.features__statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.features__statistics-logo {
  margin-top: 10px;
  fill: rgba(0, 0, 0, 0.3);

  @media (min-width: @desktop-width) {
    fill: @white;
  }
}

.features__statistics-text {
  margin-left: 6px;
}

.features__description {

  @media (min-width: @tablet-width) {}

  @media (min-width: @desktop-width) {

    padding-top: 100px;
    padding-bottom: 65px;
    padding-left: 370px;
    padding-right: 372px;
  }

}
