.form {
  font-weight: 700;
}

.form__title {
  text-transform: none;
}

.form__submit-button {
  text-transform: uppercase;
}

.form input::-moz-placeholder {
  color: @black;
}

.form input {
  background-color: @darkgrey;
  border: none;
}

.form__contacts {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 71px;
  }
}

.form-contacts__name input {
  height: 58px;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 430px;

  }

  @media (min-width: @desktop-width) {
    width: 430px;
  }
}

.form-contacts__name label {
  font-weight: 400;
  margin-right: 300px;
  white-space: nowrap;
}

.form-contacts__information {
  @media (min-width: @desktop-width) {

    margin-left: 128px;
  }
}

.form-contacts__information input {
  height: 58px;
  width: 222px;

  @media (min-width: @tablet-width) {
    width: 222px;

  }

  @media (min-width: @desktop-width) {
    width: 334px;
  }
}

.form-contacts__information label {
  font-weight: 400;
  margin-right: 150px;
  white-space: nowrap;
}

.form__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form__legend {
  margin-bottom: 28px;
  font-size: 21px;
  line-height: 26px;
}

.form-input__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.form-contacts__logo {
  width: 58px;
  height: 58px;
  background-color: @grey;
  padding: 20px;
}

.form__textarea {
  width: 279px;
  height: 150px;
  resize: none;

  @media (min-width: @tablet-width) {
    width: 648px;
    height: 160px;
  }

  @media (min-width: @desktop-width) {
    width: 768px;
    height: 160px;

  }
}
