.image__description {
  background: url("../img/triangle.svg"),
    url("../img/background.jpg");
  background-size: 100%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, 0 0;
  height: 389px;
  padding-top: 90px;

  @media (min-width: @tablet-width) {
    background: url("../img/triangle.svg"),
      url("../img/background_big.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, cover;
    background-position: bottom, 0 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop.jpg@2x.jpg");
    }

  }

  @media (min-width: @desktop-width) {
    background: url("../img/triangle.svg"),
      url("../img/background_big.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, cover;
    background-position: bottom, 0 0;
  }
}

.image__catalog {
  @media (min-width: @tablet-width) {
    width: 457px;
    height: 78px;
    margin-top: 93px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 101px;
  }
}
