.page__footer {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.page-header__description {
  padding-top: 32px;
  padding-bottom: 16px;
  padding-left: 18px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 48px;
    padding-bottom: 57px;
    padding-left: 124px;
    padding-right: 124px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 59px;
    padding-bottom: 45px;
    padding-left: 358px;
    padding-right: 359px;
  }
}
