.product__description {
  padding-top: 32px;
  padding-bottom: 16px;
  padding-left: 18px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 48px;
    padding-bottom: 57px;
    padding-left: 124px;
    padding-right: 124px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 59px;
    padding-bottom: 45px;
    padding-left: 358px;
    padding-right: 359px;
  }
}

.product__list {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.product__list-more {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__canvas {
  background-color: @lightgrey;
  color: #000000;

  @media (min-width: @tablet-width) {
    width: 256px;
    height: 256px;
    padding: 40px 32px 42px 44px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    height: 256px;
    padding: 40px 32px 42px 44px;
  }
}

.product-item__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.product__canvas-blue {
  background-color: @blue;
  color: #FFFFFF;
}

.product__canvas-icon {
  background-color: #FFFFFF;
  color: rgba(51, 51, 51, 1);
  background-repeat: no-repeat;
}

.product__canvas-home {
  background-image: url(../img/home.svg);
}

.product__canvas-food {
  background-image: url(../img/food.svg);
}

.product__canvas-souvenirs {
  background-image: url(../img/souvenirs.svg);
}

.product__logo {
  background-repeat: no-repeat;
  width: 100%;
  height: 260px;
  background-size: cover;
  background-position: -120px 0px;

  @media (min-width: @tablet-width) {
    width: 512px;
    height: 256px;
    background-position: 0px 0px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
    height: 256px;
    background-position: 0px 0px;
  }

}

.product__logo-city {
  background-image: url(../img/cityphoto.jpg);
}

.product__logo-bridge {
  background-image: url(../img/bridge.jpg);

}
