.search {
  padding-top: 39px;
  padding-bottom: 49px;

  @media (min-width: @tablet-width) {
    padding-top: 61px;
    padding-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 61px;
    padding-bottom: 66px;
  }
}

.search__button {
  text-decoration: none;
  background-color: @blue;
  color: #FFFFFF;
  margin-left: 18px;
  margin-right: 18px;

  @media (min-width: @tablet-width) {
    margin-left: 155px;
    margin-right: 155px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 371px;
    margin-right: 371px;
  }

}
