@import "fonts.less";
@import "menu.less";
@import "product.less";
@import "social.less";
@import "features.less";
@import "search.less";
@import "image.less";

// Colors

@blue: #81B3D2;
@lightgrey: #EEEEEE;

// Viewports

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 320px;

body {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 320px;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}
