@import "menu.less";
@import "product.less";
@import "footer.less";
@import "features.less";

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.image__description {
  background: url("../img/triangle.svg"),
    url("../img/background.jpg");
  background-size: 100%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, 0 0;
  height: 389px;
  padding-top: 90px;
}

.search__button {
  text-decoration: none;
  background-color: #81B3D2;
  color: #FFFFFF;
}
